black==23.1.0
celery==5.2.7
coverage==7.1.0
Django==4.1.6
django-autoslug==1.9.8
django-celery-email==3.0.0
django-countries==7.5.1
django-environ==0.9.0
django-filter==22.1
djangorestframework==3.14.0
djangorestframework-simplejwt==4.8.0
djoser==2.1.0
factory-boy==3.2.1
Faker==17.0.0
flake8==6.0.0
flower==1.2.0
isort==5.12.0
Pillow==9.4.0
psycopg2-binary==2.9.5
PyJWT==2.6.0
pytest-cov==4.0.0
pytest-django==4.5.2
pytest-factoryboy==2.5.1
redis==4.5.1